{{!< layouts/main}} 
<h1>Add Product</h1>
    <form method="POST" action="/add-product" class="mt-4">

        <div class="row">
            <div class="col-md-6 form-group">
                <label for="firstName">First Name:<span style="color: red;">*</span></label>
                <input type="text" class="form-control" id="firstName" name="firstName" required>
            </div>

            <div class="col-md-6 form-group">
                <label for="lastName">Last Name:<span style="color: red;">*</span></label>
                <input type="text" class="form-control" id="lastName" name="lastName" required>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 form-group">
                <label for="dateOfBirth">Date of Birth:<span style="color: red;">*</span></label>
                <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth" required>
            </div>

            <div class="col-md-6 form-group">
                <label for="phoneNumber">Phone Number:<span style="color: red;">*</span></label>
                <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" required>
            </div>
        </div>

        <div class="form-group">
            <label for="address1">Address 1:<span style="color: red;">*</span></label>
            <input type="text" class="form-control" id="address1" name="address1" required>
        </div>

        <div class="form-group">
            <label for="address2">Address 2:</label>
            <input type="text" class="form-control" id="address2" name="address2">
        </div>

        <div class="row">
            <div class="col-md-6 form-group">
                <label for="city">City:<span style="color: red;">*</span></label>
                <input type="text" class="form-control" id="city" name="city" required>
            </div>

            <div class="col-md-6 form-group">
                <label for="postalCode">Postal Code:<span style="color: red;">*</span></label>
                <input type="text" class="form-control" id="postalCode" name="postalCode" required>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 form-group">
                <label for="country">Country:<span style="color: red;">*</span></label>
                <input type="text" class="form-control" id="country" name="country" required>
            </div>

            <div class="col-md-6 form-group">
                <label for="email">Email:<span style="color: red;">*</span></label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
        </div>

        <div class="form-group">
            <label for="productNotes">Product Notes:</label>
            <textarea class="form-control" id="productNotes" name="productNotes"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Add Product</button>
    </form>